<header class="header flex">
  <div class="logo"><img src="/images/logo.webp" alt="logo" /></div>
  <nav>
    <ul class="nav-items-container flex">
      <li class="nav-item">
        <a href="/">Dashboard</a>
      </li>
      <% if(currentUser ) {%>
      <li class="nav-item">
        <a href="/riddle">Become a member</a>
      </li>
      <li class="nav-item">
        <a href="/settings">Settings</a>
      </li>
      <% }%>
    </ul>
  </nav>
  <div id="user-container">
    <% if(currentUser ) {%>
    <div>
      <div>WELCOME <%= currentUser .username %></div>
      <a class="button" href="/users/logout">Log Out</a>
    </div>
    <% }else{ %>
    <div>
      <a class="button" href="/users/login">Log In</a>
    </div>
    <% }%>
  </div>
</header>
