<form id="add-msg-form" class="hidden mid-page" action="" method="POST">
  <div class="msg-form-field">
    <label for="msg-title">Title</label>
    <input id="msg-title" placeholder="Enter your title here" name="msgTitle" />
  </div>
  <div class="msg-form-field">
    <label for="msg-description">Message:</label>
    <textarea
      id="msg-description"
      placeholder="Enter your message here"
      name="msgDescription"
    ></textarea>
  </div>
  <button id="close-msg-btn" type="button">Close</button>
  <button id="submit-msg-btn" type="submit">Submit</button>
</form>
