<h1>THIRD RIDDLE</h1>
<form action="/riddle/3" method="POST">
  <%if(error){%>
  <div><%-error%></div>
  <%}%>
  <span
    >Last riddle! There will be no hint for this one as we don't want to make it
    too easy.</span
  >
  <span
    >This thing, all things devours, birds, beasts, trees, flowers. Gnaws iron.
    Bites steel. Grinds hard stones to meal. Slays king. Ruins town. Beats high
    mountain down. What is it?
  </span>
  <input name="answer" id="answer" />
  <button type="submit">Answer</button>
</form>
