.header {
  height: 80px;
  background: linear-gradient(to top, #2b3b55, #33435c);
  align-items: center;
}

.logo img {
  height: 80px;
  object-fit: contain;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: red;
}

.nav-items-container {
  width: 100%;
}

.nav-item {
  list-style-type: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: transform 0.3s ease;
}

.nav-item a {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-item:hover a {
  color: #63abfd;
}

#user-container {
  margin-left: auto;
  margin-right: 5rem;
}

/* #login-btn {
  background-color: white;
  color: white;
  border: none;
  padding: 0;
  border-radius: 3px;
  transition: transform 0.3s ease;
} */

/* #login-btn:hover, */
/* .nav-item:hover {
  transform: scale(1.1);
  color: #63abfd;
}

#login-btn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
} */
